{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for book in books %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{book.cover}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{book.bookname}}</h5>
                    <p class="card-text"> By {{book.author}}</p>
                    <a href="#" class="btn btn-primary">Go for Online Read</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<!--            <img src="{{book.cover}}" style="width:100px;height:100px;">-->


